<!DOCTYPE html>
    <head>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
        <link rel = "stylesheet" type = "text/css" href = "/public/styles/main.css">

        <title>NBA Tracker</title>
    </head>

    <body>

        <header>
            <h1>NBA Tracker</h1>
            <img id = "NBA Logo" src = "/public/images/NBA-Logo.png" style="width:256px;height:128px;">
        </header>

        <nav id = "nav-bar">
            <a href = "/"> Home </a>
            &nbsp;
            <a href = "/"> About </a>
        </nav>

        <div class = "content">

        <h2 id = "question"> What's your favorite team? </h2>

        <div id = "teams">
            <a href = "/teams/Knicks">
                <img id = "Knicks" src="/public/images/team logos/Knicks.png">  
            </a>
            <a href = "/teams/Mavs">
                <img id = "Mavs" src="/public/images/team logos/Mavs.png">
            </a>
            <a href = "/teams/Cavs">
                <img id = "Cavs" src="/public/images/team logos/Cavaliers.png">
            </a>
            <a href = "/teams/Hawks">
                <img id = "Hawks" src="/public/images/team logos/Hawks.png">
            </a>
            <a href = "/teams/Heat">
                <img id = "Heat" src="/public/images/team logos/Heat.png">
            </a>
            <a href = "/teams/Blazers">
                <img id = "Blazers" src="/public/images/team logos/TrailBlazers.png">
            </a>
            <a href = "/teams/Wolves">
                <img id = "Wolves" src="/public/images/team logos/Timberwolves.png">
            </a>
            <a href = "/teams/Lakers">
                <img id = "Lakers" src="/public/images/team logos/Lakers.png">
            </a>
            <a href = "/teams/Nets">
                <img id = "Nets" src="/public/images/team logos/Nets.png">
            </a>
            <a href = "/teams/Clippers">
                <img id = "Clippers" src="/public/images/team logos/Clippers.png">
            </a>
            <a href = "/teams/Celtics">
                <img id = "Celtics" src="/public/images/team logos/Celtics.png">
            </a>
            <a href = "/teams/Pistons">
                <img id = "Pistons" src="/public/images/team logos/Pistons.png">
            </a>
            <a href = "/teams/Pelicans">
                <img id = "Pelicans" src="/public/images/team logos/Pelicans.png">
            </a>
            <a href = "/teams/Hornets">
                <img id = "Hornets" src="/public/images/team logos/Hornets.png">
            </a>
            <a href = "/teams/Jazz">
                <img id = "Jazz" src="/public/images/team logos/Jazz.png">
            </a>
            <a href = "/teams/Raptors">
                <img id = "Raptors" src="/public/images/team logos/Raptors.png">
            </a>
            <a href = "/teams/Spurs">
                <img id = "Spurs" src="/public/images/team logos/Spurs.png">
            </a>
            <a href = "/teams/Suns">
                <img id = "Suns" src="/public/images/team logos/Suns.png">
            </a>
            <a href = "/teams/Warriors">
                <img id = "Warriors" src="/public/images/team logos/Warriors.png">
            </a>
            <a href = "/teams/Grizzlies">
                <img id = "Grizzlies" src="/public/images/team logos/Grizzlies.png">
            </a>
            <a href = "/teams/Wizards">
                <img id = "Wizards" src="/public/images/team logos/Wizards.png">
            </a>
            <a href = "/teams/Rockets">
                <img id = "Rockets" src="/public/images/team logos/Rockets.png">
            </a>
            <a href = "/teams/OKC">
                <img id = "OKC" src="/public/images/team logos/OKC.png">
            </a>
            <a href = "/teams/Nuggets">
                <img id = "Nuggets" src="/public/images/team logos/Nuggets.png">
            </a>
            <a href = "/teams/Nets">
                <img id = "Nets" src="/public/images/team logos/Nets.png">
            </a>
            <a href = "/teams/Philly">
                <img id = "76ers" src="/public/images/team logos/76ers.png">
            </a>
            <a href = "/teams/Magic">
                <img id = "Magic" src="/public/images/team logos/Magic.png">
            </a>
            <a href = "/teams/Bulls">
                <img id = "Bulls" src="/public/images/team logos/Bulls.png">
            </a>
            <a href = "/teams/Bucks">
                <img id = "Bucks" src="/public/images/team logos/Bucks.png">
            </a>
            <a href = "/teams/Kings">
                <img id = "Kings" src="/public/images/team logos/Kings.png">
            </a>
            <a href = "/teams/Pacers">
                <img id = "Pacers" src="/public/images/team logos/Pacers.png">
            </a>
        </div>
        </div>
        
        <footer class = "footer"> Created by Diego Sanchez </footer>

    </body>
</html>