<!DOCTYPE html>
    <head>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
        <link rel = "stylesheet" type = "text/css" href = "/public/styles/main.css">

        <title>NBA Tracker</title>
    </head>

    <body>

        <h1>NBA Tracker</h1>

        <nav id = "nav-bar">
            <a href = "/"> Home </a>
        </nav>

        <h2>What's your favorite team?</h2>

        <div id = "teams">
            <a href = "/teams">
                <img id = "Knicks" src="/public/images/Knicks.png" style="width:128px;height:128px;">  
            </a>
            <a href = "/teams">
                <img id = "Mavs" src="/public/images/Mavs.png" style="width:128px;height:128px;">
            </a>
            <a href = "/teams">
                <img id = "Cavs" src="/public/images/Cavaliers.png" style="width:128px;height:128px;">
            </a>
            <a href = "/teams">
                <img id = "Hawks" src="/public/images/Hawks.png" style="width:128px;height:128px;">
            </a>
            <a href = "/teams">
                <img id = "Heat" src="/public/images/Heat.png" style="width:128px;height:128px;">
            </a>
            <a href = "/teams">
                <img id = "Blazers" src="/public/images/TrailBlazers.png" style="width:128px;height:128px;">
            </a>
            <a href = "/teams">
                <img id = "Wolves" src="/public/images/Timberwolves.png" style="width:128px;height:128px;">
            </a>
            <a href = "/teams">
                <img id = "Lakers" src="/public/images/Lakers.png" style="width:128px;height:128px;">
            </a>
            <a href = "/teams">
                <img id = "Nets" src="/public/images/Nets.png" style="width:128px;height:128px;">
            </a>
            <a href = "/teams">
                <img id = "Clippers" src="/public/images/Clippers.png" style="width:128px;height:128px;">
            </a>
            <a href = "/teams">
                <img id = "Celtics" src="/public/images/Celtics.png" style="width:128px;height:128px;">
            </a>
            <a href = "/teams">
                <img id = "Pistons" src="/public/images/Pistons.png" style="width:128px;height:128px;">
            </a>
            <a href = "/teams">
                <img id = "Pelicans" src="/public/images/Pelicans.png" style="width:128px;height:128px;">
            </a>
            <a href = "/teams">
                <img id = "Hornets" src="/public/images/Hornets.png" style="width:128px;height:128px;">
            </a>
            <a href = "/teams">
                <img id = "Jazz" src="/public/images/Jazz.png" style="width:128px;height:128px;">
            </a>
            <a href = "/teams">
                <img id = "Raptors" src="/public/images/Raptors.png" style="width:128px;height:128px;">
            </a>
            <a href = "/teams">
                <img id = "Spurs" src="/public/images/Spurs.png" style="width:128px;height:128px;">
            </a>
            <a href = "/teams">
                <img id = "Suns" src="/public/images/Suns.png" style="width:128px;height:128px;">
            </a>
            <a href = "/teams">
                <img id = "Warriors" src="/public/images/Warriors.png" style="width:128px;height:128px;">
            </a>
            <a href = "/teams">
                <img id = "Grizzlies" src="/public/images/Grizzlies.png" style="width:128px;height:128px;">
            </a>
            <a href = "/teams">
                <img id = "Wizards" src="/public/images/Wizards.png" style="width:128px;height:128px;">
            </a>
            <a href = "/teams">
                <img id = "Rockets" src="/public/images/Rockets.png" style="width:128px;height:128px;">
            </a>
            <a href = "/teams">
                <img id = "OKC" src="/public/images/OKC.png" style="width:128px;height:128px;">
            </a>
            <a href = "/teams">
                <img id = "Nuggets" src="/public/images/Nuggets.png" style="width:128px;height:128px;">
            </a>
            <a href = "/teams">
                <img id = "Nets" src="/public/images/Nets.png" style="width:128px;height:128px;">
            </a>
            <a href = "/teams">
                <img id = "76ers" src="/public/images/76ers.png" style="width:128px;height:128px;">
            </a>
            <a href = "/teams">
                <img id = "Magic" src="/public/images/Magic.png" style="width:128px;height:128px;">
            </a>
            <a href = "/teams">
                <img id = "Bulls" src="/public/images/Bulls.png" style="width:128px;height:128px;">
            </a>
            <a href = "/teams">
                <img id = "Bucks" src="/public/images/Bucks.png" style="width:128px;height:128px;">
            </a>
            <a href = "/teams">
                <img id = "Kings" src="/public/images/Kings.png" style="width:128px;height:128px;">
            </a>
            <a href = "/teams">
                <img id = "Pacers" src="/public/images/Pacers.png" style="width:128px;height:128px;">
            </a>
        </div>
        
    </body>
</html>