<!DOCTYPE html>
    <head>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
        <link rel = "stylesheet" type = "text/css" href = "/public/styles/main.css">

        <title>NBA Tracker</title>
    </head>

    <body>

        <h1>NBA Tracker</h1>

        <nav id = "nav-bar">
            <a href = "/"> Home </a>
        </nav>

        <h2>Current Team</h2>
        
    </body>
</html>