* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

a { 
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #d6cece;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
}

h1 {
    display: flex;
    color: #17408B;
}


#question {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1% 0% 1% 0%;
}


/* Nav-bar/Links */

#nav-bar {
    display: flex;
    flex-direction: row;
    background-color: #3a3b3c;
    font-size: 20px;
}

#nav-bar a{
    padding-left: 2%;
}

#nav-bar a:link {
    color: red;
}

#nav-bar a:visited {
    color: white;
}

/* Content */

.content {
    flex: 1 0 auto;
}

#scoreboard {
    border: 1px solid black;
    border-collapse: collapse;  
}

/* Team logos */

#teams {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 10% 0 10%;
}

#teams img {
    width:128px;
    height:128px;
}

/* Search */

/* #search {
    display: flex;
    justify-content: center;
    margin-top: 1%;
}

#search input[type=text] {
    display: flex;
    justify-content: center;
    margin-top: 1%;
} */

.footer {
    flex-shrink: 0;
    background-color: #3a3b3c;
    color: white;
    padding-left: 1%;
}